page-signup {
    .bg-imagesignup{
        background-image: url('../assets/imgs/foodblur.JPG');
        background-repeat: no-repeat;
        background-size: cover;
}

.scroll-content{overflow-y: hidden;}
}